MONGODB_CONNECTION_STRING=mongodb://localhost:27017/crop_prices_db
MONGODB_DB_NAME
MONGO_SERVER_SELECTION_TIMEOUT_MS=5000
MONGO_SOCKET_TIMEOUT_MS=10000
MONGO_CONNECT_TIMEOUT_MS=5000
OPENAI_API_KEY=
WHISPER_MODEL=
WHISPER_DEFAULT_LANGUAGE=
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=info
HUGGINGFACEHUB_API_TOKEN=
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="zabaan-e-kisaan-chatbot-development"

TRANSCRIBE_PROVIDER="aws"

AWS_TRANSCRIBE_BUCKET="your-transcribe-bucket"
AWS_ACCESS_KEY_ID="xxxxx"
AWS_SECRET_ACCESS_KEY="xxxxx"
AWS_REGION="us-east-1"