MONGODB_CONNECTION_STRING=mongodb://localhost:27017/crop_prices_db
HUGGINGFACEHUB_API_TOKEN
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT="zuban-e-kisan-chatbot-development"
HOST=127.0.0.1
PORT=8000
LOG_LEVEL=info
OPENAI_API_KEY=
