beautifulsoup4
pandas
python-dateutil
pytz
requests
selenium
soupsieve
urllib3
webdriver-manager
pymongo
python-multipart
langchain
langchain-core
langchain-community
langchain-huggingface
langgraph
python-dotenv
openai
google-cloud-speech
numpy>=1.26.0
tensorflow>=2.20.0
keras==3.10.0
pillow>=10.0.0
matplotlib>=3.7.0
fastapi>=0.111.0
uvicorn[standard]>=0.29.0
python-multipart>=0.0.9
transformers
accelerate