beautifulsoup4
pandas
python-dateutil
pytz
requests
selenium
soupsieve
urllib3
webdriver-manager
pymongo
fastapi
uvicorn
python-multipart
langchain
langchain-core
langchain-community
langchain-huggingface
langgraph
fastapi[standard]
python-dotenv
openai